<h1>Home Page</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe architecto nemo ducimus explicabo sequi beatae, similique iusto, numquam dolore eius repellendus temporibus reiciendis cumque eos distinctio ipsa vero placeat inventore.</p>
<a href="/about">Go to About page</a>